---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'

import '@styles/global.css'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead />
    </head>
    <body
        class="font-serif font-normal leading-normal text-gray-800 font-sm md:font-base text-pretty"
    >
        <div id="site-wrapper" class="flex flex-col md:flex-row min-h-screen">
            <!-- Skip to main conetnt -->
            <a
                href="#main-content"
                class="underline absolute left-[50%] h-8 p-2 -translate-y-full duration-300 ease-in-out focus:translate-y-0"
            >
                Jump to main content
            </a>

            <Header />
            <main id="main-content">
                <slot />
            </main>
        </div>
    </body>
</html>
